body {
    font-family: 'Verdana';
}
h5 {
    color: red;
}
.w3-codespan
{
    color: red;
    text-align: center;
}
.box {
    border : 5px solid #FF0000;
    min-width : 300px;
    max-width : 400px;
    padding : 10px;
    margin-left : auto;
    margin-right : auto;
    box-shadow: 5px 10px rgba( 255, 0, 0, 0.6);
}